main {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #626262;
}

.bodyMain {
  margin: 0 20%;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #a6a6a6;
}
